# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs and local files
*.log
*.sqlite3

# Environment variables
.env
.env.*

# Docker
*.pid
*.tar
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# Test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
nosetests.xml
pytest_cache/
__pypackages__/

# Heroku
*.orig
*.bak
Procfile~

# Ignore token/config
config.json